body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#sheepCount {
    font-size: 48px;
    margin: 0;
}

#resetButton {
    cursor: pointer;
}

#sheepContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sheep {
    position: absolute;
    height: auto;
    cursor: pointer;
    animation: float 10s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
